* {
    margin: 0px;
    padding: 0px;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;

    min-height: 100vh;
}

.background {
    background: url(./building_background.jpg) rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 5%;
    margin-left: 3px;
}

.logo img {
    height: 3vw;
    width: 3vw;
    /* margin:3px 3px; */
    border: 1.5px solid white;
    border-radius: 50%;
}

.nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
    overflow: hidden;
    min-height: 4vw;
}

.navlink {
    padding: 0 0;
    margin-bottom: 0rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navlink li:hover {
    scale: 1.5;

}

.navlink li {
    list-style: none;


}

.navlink li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
}

.right-nav {
    background-color: black;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.burger {
    display: none;
    right: 3px;
    position: absolute;
    height: 10vw;
    width: 35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {

    width: 60%;
    height: 2px;
    margin: 1px;
    background-color: white;
}

/* first section */

.first-section {
    min-height: 95vh;
    padding-top: 25vh;
    box-sizing: border-box;
}

.box {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.box img {
    width: 14vw;
    height: 10vw;
    border-radius: 15px;
    border: 1.5px solid black;
}

.para {
    width: 65%;
}

.para p {
    font-size: clamp(16px, 1.2vw, 50px);

    margin-top: 3px;
}

.para h {
    font-size: clamp(20px, 2vw, 57px);
}

.box hr {
    border: 1.5px solid khaki;
    opacity: 1;

}

/* second-section */

.second-section {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left {
    flex-direction: row-reverse;
}

/* our services */

.heading {
    border-bottom: 2px double white;
    text-align: center;
    color: black;
    font-size: clamp(30px, 3vw, 57px);
    margin-bottom: 3vw;
    font-style: italic;
    text-shadow: 2px 2px 7px black;
}

.subheading {
    grid-area: subheading;
    color: black;
    font-size: clamp(18px, 1.5vw, 57px);
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}



/* sboxes in servicebox*/

.sbox img {
    grid-area: img;
    width: 14vw;
    height: 10vw;
    border: 1.5px solid black;
    border-radius: 15px;
}

#servicebox p {
    grid-area: p;
    font-size: clamp(16px, 1.2vw, 50px);
}

.sbox {
    background-color: #f0e7e9;
    display: grid;
    border: 2px solid red;
    border-radius: 20px;
    grid-gap: 1rem;
    grid-template-areas:
        'subheading subheading subheading '
        'img p p '
    ;
    align-items: center;
    margin: 12px;
    padding: 10px;
}

/* contact us  */
#form {
    padding: 2vw 2vw;
    border-radius: 4vw;

}

/* footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer p {
    padding: 2px 0px;
    margin-top: 3vh;
    margin-bottom: 0;

}

@media only screen and (max-width: 987px) {
    .nav-bar {
        min-height: 10vw;
        flex-direction: column;

    }

    .navlink {
        flex-direction: column;
        width: 90%;

    }

    .right-nav {
        width: 100%;
        justify-content: center;
    }

    .burger {
        display: flex;
    }

    .first-section {
        padding-top: 10vh;

    }

    .sbox {
        grid-template-areas:
            'subheading subheading subheading '
            ' img img img '
            'p p p';
        justify-items: center;

    }

    .sbox img {
        width: 50vw;
        height: 50vw;
    }

    .left {
        flex-direction: column-reverse;
    }

    .box {
        flex-direction: column-reverse;
    }

    .box img {
        width: 50vw;
        height: 50vw;
    }

    .first-section img {
        border-radius: 50%;
    }

    .para {
        width: 90%;
        text-align: center;
    }

    .heading {
        border-color:antiquewhite;
    }

    .hide {
        display: none;
    }


}